<!DOCTYPE html>
<html>

<head>

    <title>Dashboard</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

    Dashboard

</div>

<div class="dashboard">

    <div class="card">

        <h2>Upload Resume</h2>

        <p>
            Upload PDF Resume
            and receive AI analysis.
        </p>

        <a href="/upload-resume">

            <button>

                Upload Resume

            </button>

        </a>

    </div>

   

    <div class="card">

        <h2>Logout</h2>

        <a href="/logout">

            <button>

                Logout

            </button>

        </a>

    </div>

</div>

</body>

</html>