<!DOCTYPE html>
<html>

<head>

    <title>AI Resume Analyzer</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

    AI Resume Analyzer

</div>

<div class="hero">

    <h1>Analyze Your Resume With AI</h1>

    <p>
        Upload your resume and get ATS score,
        skill analysis and improvement suggestions.
    </p>

    <a href="/register">
        <button>Get Started</button>
    </a>

</div>

</body>

</html>