<!DOCTYPE html>
<html>

<head>

    <title>Delete</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

    Delete Developer

</div>

<div class="container">

    <div class="card">

        <form action="/delete"
              method="POST">

            <input type="email"
                   name="email"
                   placeholder="Enter Email">

            <button type="submit">

                Delete

            </button>

        </form>

    </div>

</div>

</body>

</html>