<!DOCTYPE html>
<html>

<head>

    <title>Developer Profile</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

    Developer Profile

</div>

<div class="container">

    <div class="card">

        <img src="/static/uploads/{{ dev[6] }}"
             width="200">

        <h1>{{ dev[1] }}</h1>

        <p>Email: {{ dev[2] }}</p>

        <p>Skill: {{ dev[3] }}</p>

        <p>Experience: {{ dev[4] }}</p>

    </div>

</div>

</body>

</html>