<!DOCTYPE html>
<html>

<head>

    <title>Update</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

    Update Skill

</div>

<div class="container">

    <div class="card">

        <form action="/update"
              method="POST">

            <input type="text"
                   name="id"
                   placeholder="Enter Developer ID">

            <input type="text"
                   name="skill"
                   placeholder="Enter New Skill">

            <button type="submit">

                Update

            </button>

        </form>

    </div>

</div>

</body>

</html>